---
import { SITE, LINKS } from "../consts"
import { cn } from "../lib/utils"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
import Container from "../components/Container.astro"
---

<header class="w-full backdrop:blur-md">
  <Container size="md">
    <div
      class="z-50 fixed top-0 left-0 right-0 flex justify-evenly items-center p-4 w-full bg-white/90 dark:bg-black/90 transition-colors duration-300 ease-in-out backdrop:blur-md border-b-[1px]"
    >
      <div>
        <a
          href="/"
          class="flex gap-1 text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
        >
          <svg class="size-6 fill-current">
            <use href="/brand.svg#brand"></use>
          </svg>
          <div>
            {SITE.TITLE}
          </div>
        </a>
      </div>
      <div>
        <nav
          class="fixed md:sticky bottom-2 rounded-full left-0 right-0 bg-primary-foreground w-11/12 md:w-full mx-auto md:mx-0 px-2 py-4 z-50 bg-neutral-200 dark:bg-neutral-800 md:bg-transparent md:dark:bg-transparent transition-colors duration-300 ease-in-out backdrop-blur-md shadow-md md:shadow-none"
        >
          <ul class="flex justify-evenly md:gap-4">
            {
              LINKS.map((LINK) => (
                <li>
                  <a
                    href={LINK.HREF}
                    class={cn(
                      "h-12 md:h-8 md:py-0 rounded-badge px-3 py-2 text-base",
                      "flex flex-col items-center justify-center",
                      "transition-all duration-300 ease-in-out transform",
                      pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF
                        ? "bg-black dark:bg-white text-white dark:text-black md:translate-y-0 scale-125 md:scale-100"
                        : "hover:bg-black/5 dark:hover:bg-white/20 hover:text-black dark:hover:text-white"
                    )}
                  >
                    <svg class="h-10 w-10 fill-current md:hidden">
                      <use href={`/navicon.svg#${LINK.ICON}`} />
                    </svg>
                    <span class="text-xs md:text-base">{LINK.TEXT}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <div class="flex gap-4">
        <a
          href="/contact"
          aria-label={`Get in touch with Me ${SITE.TITLE}`}
          class={cn(
            "rounded-md px-2 flex items-center justify-center",
            "hover:bg-black/5 dark:hover:bg-white/20",
            "stroke-current hover:stroke-black hover:dark:stroke-white",
            "border border-black/40 dark:border-white/60",
            "transition-colors duration-300 ease-in-out",
            pathname === "/contact" || "/" + subpath?.[0] === "/contact"
              ? "pointer-events-none  bg-black dark:bg-white text-white dark:text-black"
              : ""
          )}
        >
          Contact Now
        </a>

        <button
          id="header-theme-button"
          aria-label={`Toggle light and dark theme`}
          class={cn(
            " md:flex",
            "size-9 rounded-full p-2 items-center justify-center",
            "bg-transparent hover:bg-black/5 dark:hover:bg-white/20",
            "stroke-current hover:stroke-black hover:dark:stroke-white",
            "border border-black/10 dark:border-white/25",
            "transition-colors duration-300 ease-in-out"
          )}
        >
          <svg class="size-full block dark:hidden">
            <use href="/ui.svg#sun"></use>
          </svg>
          <svg class="size-full hidden dark:block">
            <use href="/ui.svg#moon"></use>
          </svg>
        </button>
      </div>
    </div>
  </Container>
</header>
